* {
	margin: 0;
	padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

main {
	width: 100%;
	height: 100%;
	background-image: url("./header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	display: block;
	overflow: auto;
}

.container {
	margin-top: 35vh;
	position: relative;
}

h1 {
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
}

a.btn.btn-danger.rounded {
	position: relative;
	border-radius: 50px !important;
	display: block;
	margin: 0 auto;
	margin-top: 190px;
	background-color: #F05F44;
	border-color: #F05F44;
	color: #ffffff;
	font-weight: 700;
	width: 200px;
	padding: 10px 0px;
	box-sizing: border-box;
	transition: all 200ms;
}

hr {
	position: absolute;
	top: 195px;
	width: 20px;
	height: 2px;
	border-radius: 5px;
	left: 50%;
	transform: translate(-50%);
	content: "";
	background-color: #F05F44;
	border-color: #F05F44;
	transition: all 200ms;
}

a.btn.btn-danger.rounded:hover{
	transform: scale(1.12);
}
a.btn.btn-danger.rounded:hover ~  hr{
	width: 180px;
}